<html>

<head>

    <!-- JQUERY -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/templates/plainVideo.css">
    <script src="/js/playerConfig.js"></script>

    <!-- META -->
    <meta charset="utf-8">
    <title>Video</title>

</head>

<body>
    <div class="loader"></div>
</body>

<script>
    playerConfig(JSON.parse('<%- JSON.stringify(videoEmbed) %>')).createVideo();
</script>

</html>