<html>
    <head>

        <!-- JQUERY -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="/css/templates/templateOne.css">
        <!--<script src="/js/core.js"></script>-->

        <!-- META -->
        <meta charset="utf-8">
        <title>Video</title>

    </head>

    <body>
        <video width="560" height="315" class='Flexible-container' id="videoPlayer" controls="" src="<%= video.stream %>" autoplay name="media"></video>
    </body>
    <script>
        $(window).on('load',function() {
            console.log('load');
        });
    </script>
</html>