<div ng-controller="mainController" ng-if="userAuthenticated">

<div class="form-row align-items-center mt-1">
    <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
        <input ng-model="YTURL" spellcheck="false" class="form-control urlInputBox text-center useFontAwesomeFamily" type="text" placeholder="&#xf167;">
    </div>
    <div class="col-lg-auto col-md-auto col-sm-auto text-center">
        <button id="createEmbedButton" ng-click="getStream()" type="button" class="btn btn-primary"><i class="fas fa-link"></i></button>
    </div>
</div>
<div class="row text-center mt-1" ng-show="populatedIframe">
    <div class="col-lg-6 offset-lg-3 col-md-12">
        <div class="mainPlayerContainer">
        </div>
    </div>
</div>
<div class="row text-center mt-2" ng-show="populatedIframe">
    <div class="mainIframeContainer col-lg-6 offset-lg-3 col-md-6 offset-md-3">
        <pre class="iframeExample mainIframeExample"></pre>
        <div class="customization-ctrl">
        </div>
    </div>
</div>
<div class="row text-center mt-2">
        <div class="col-lg-6 offset-lg-3 col-md-12" ng-repeat="newEmbed in newEmbeds track by $index">
            <a href='' data-toggle="modal" data-target="#iframeModal" embed-id="{{newEmbed._id}}" >{{embed.embedUrl.title ? embed.embedUrl.title : "No title"}}</a>
        </div>
</div>

</div>
