<div class="row mt-2">
    <div class="col-6 offset-3">
        <input ng-model="YTURL" class="form-control text-center" type="text" placeholder="YouTube URL Here">
    </div>
</div>
<div class="row">
    <div class="col-6 offset-3 mt-2 text-center">
        <button ng-click="getStream()" type="button" class="btn btn-primary">Create Embed</button>
    </div>
</div>
<div class="row text-center mt-4">
    <div class="col">
        <iframe class="embed-responsive-item" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen id="videoPlayer" width="560" height="315" src=""></iframe>
    </div>
</div>
<div class="row text-center mt-2">
    <div class="col-6 offset-3">
        <pre>
            <code id="iframeExample"></code>
        </pre>
    </div>
</div>

