<div class="row">
    <div class="col">
        <ul class="nav justify-content-center nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="generateEmbed" data-toggle="tab" aria-controls="generateEmbed" aria-selected="true" role="tab" href="/">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="userEmbeds-tab" href="/userEmbeds" data-toggle="tab" role="tab" aria-controls="userEmbeds" aria-selected="false">My Embeds</a>
            </li>
        </ul>
    </div>
</div>